/**
 * AdminNoticesManager - Admin Styles
 */

#wp-admin-bar-anm_notification_count {
  > a {
	cursor: not-allowed;
  }

  &.has-data {
	> a {
	  cursor: pointer;
	}
  }
}

.anm-notification-counter {
  background-color: #ca4a1f;
  border-radius: 50% !important;
  box-sizing: border-box !important;
  font-size: 11px !important;
  height: 18px !important;
  line-height: 1.6 !important;
  min-width: 18px;
  text-align: center;
  vertical-align: text-bottom;
  display: inline;
  padding: 4px 7px 4px 6px !important;
  color: #fff;
  margin-left: 7px !important;

  > span {
	line-height: 100% !important;
  }
}

.anm-pointer {
  .wp-pointer-arrow {
	left: 50%;
	margin-left: -7px;
  }
}


#anm-container-slide-in {
  padding-top: 34px;
  height: 100vh;
  position: fixed;
  background: #222;
  right: -500px;
  z-index: 1000;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 500px;
  overflow-y: scroll;

  &.show {
    right: 0px;
    transition: all 0.2s ease-in-out;
  }
}

@media all and (max-width: 540px) {
  #anm-container-slide-in {
    right: -330px;
    width: 330px;
  }
}